<%= form_for @tweet do |f| %>
    <%= f.text_area :text, cols: 40, rows: 5 ,maxlength: 140 %>
    <%= f.text_field :day %>
    <%= f.submit '保存' %>
  <% end %>
  <hr>
<button type="submit" style = "width: 70px; height: 25px;"><%= link_to 'ツイート', post_tweets_path %></button>

<a href="https://px.a8.net/svt/ejp?a8mat=3598PP+DE94S2+2Z0I+CGTEP" target="_blank" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www23.a8.net/svt/bgt?aid=190227805810&wid=001&eno=01&mid=s00000013869002094000&mc=1"></a>
<img border="0" width="1" height="1" src="https://www19.a8.net/0.gif?a8mat=3598PP+DE94S2+2Z0I+CGTEP" alt="">